@import 'tailwindcss';

@theme{
    --font-roboto: Roboto;
}

@layer base{
    *{
        @apply font-roboto leading-[20px];
    }

    img{
        @apply cursor-pointer;
    }

    a{
        @apply text-gray-600;
    }
}

@layer components{
    .nav-icon{
        @apply w-5;
    }

    .logo{
        @apply w-28;
    }

    .lock-scroll{
        position: fixed;
        overflow-y: scroll;
    }

    .vertical{
        @apply absolute right-0 w-[1px] h-7/10 bg-neutral-400 z-10;
    }
}

@layer utilities{
    .flex-div{
        display: flex;
        align-items: center;
    }
}